<div style="padding:50px">
<h2 style="margin-bottom:20px;text-align:center">About The Democratic Charts</h2>
<p>Who cares about radio executives? Who cares about music critics? Here at <strong>The Democratic Charts</strong>, the best music is listed according to what <em>people</em> think. What you <em>users</em> think. We believe that music should be catered for the consumers - the people who actually put money into the artists' wallets through concerts and recognition, not people whose supposedly "expert" judgments actually arbitrarily critique the quality of a tune. So log in, nominate your own songs, and vote for others starting today!</p>
</div>