/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	font-family: Calibri, sans-serif;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: gray;
}

a:hover > .home {
	-webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

#picks {
	font-size: 45px;
	font-weight: 200;
	text-align: center;
	color: #606060;
	cursor: default;
}

#msg {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 15px 0;
	width: 50vw;
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: black;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
		padding: 0px 20px;
	}
	#comments {
		.comment {
			padding: 1em 20px;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

#content {
	background-color: #fdfdfd;
	border-radius: 5px;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
} 

.iframewrap {
	margin: 20px;
	margin-top: 0px;
  	height: 70vh;
  	overflow: hidden;
}

h2 {
	margin-top: 0;
	font-weight: 300;
}

.btn-gap {
	margin-top: 20px;
}

@media only screen and (max-width : 700px) {
	#msg {
		display: none;
	}

	.home {
		padding-left: 40vw;
	}
}